@import "https://fonts.googleapis.com/css?family=Ubuntu&display=swap";
body {
  font-family: "Ubuntu"; }
  body .row {
    margin: 0; }

.sticky {
  position: sticky;
  top: 0;
  background-color: #41F20E;
  height: 60px;
  padding: 0 !important;
  line-height: 60px; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center; }
  .sidenav .links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s; }
    .sidenav a:hover {
      color: #41F20E; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

.sidenavbutton {
  padding-top: 23px;
  transition: all 1s ease;
  z-index: 2; }
  .sidenavbutton span:first-of-type {
    font-size: 25px;
    cursor: pointer;
    color: #fff; }
  .sidenavbutton span:last-of-type {
    font-size: 25px;
    cursor: pointer;
    color: #fff; }
    .sidenavbutton span:last-of-type .nite {
      color: #41F20E; }

header {
  position: relative;
  top: -60px;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  z-index: -1; }
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  header .container {
    position: relative;
    z-index: 1; }
    header .container p {
      font-size: 15px;
      letter-spacing: 3px; }
    header .container .type-element .type {
      color: #41F20E !important; }
  header .center {
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; }
    header .center .down {
      width: 40px;
      height: 60px;
      border-radius: 25px;
      border: 2px solid #fff; }

.who-us .head {
  margin-bottom: 30px; }
.who-us .header-des {
  font-size: 55px;
  margin-left: 10px; }
.who-us .paragraphs {
  padding: 0rem 17px 17px 17px; }
  .who-us .paragraphs p {
    font-size: 18px;
    color: #555; }
.who-us p {
  font-size: 18px;
  margin-bottom: 30px; }
  .who-us p .krep-sentece {
    color: #41F20E;
    font-size: 25px; }
.who-us .kreptonite-image {
  margin-top: 50px; }
  .who-us .kreptonite-image img {
    width: 100%;
    border-radius: 10px;
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 94%, 0 100%, 0% 60%, 0 0);
    animation: kreptoniteanimate 1s infinite; }

.counter-up-section {
  position: relative;
  margin-top: 40px;
  background-image: url("../images/facts.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0px 80px 0px; }
  .counter-up-section .head {
    position: relative;
    z-index: 1;
    margin-bottom: 60px; }
    .counter-up-section .head::after {
      background-color: #fff !important; }
  .counter-up-section .header-des {
    font-size: 55px;
    margin-left: 10px;
    color: #fff !important; }
  .counter-up-section .counter-up {
    position: relative;
    z-index: 1 !important;
    text-align: center;
    font-size: 45px;
    color: #fff; }
    .counter-up-section .counter-up i {
      color: #41F20E; }
    .counter-up-section .counter-up h6 {
      font-size: 40px;
      letter-spacing: 10px; }

.services {
  padding: 60px 0px; }
  .services .head {
    position: relative;
    z-index: 1;
    margin-bottom: 30px; }
  .services .header-des {
    font-size: 55px;
    margin-left: 10px; }
  .services .work {
    border: 1px solid #41F20E;
    height: 200px;
    margin-top: 10px;
    background-color: #41F20E; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
    .sidenav a {
      font-size: 18px; } }
@media (min-width: 768px) {
  .services .col-md-4 {
    padding-right: 0 !important; } }
@keyframes animate {
  0% {
    transform: translate(-50%, 0); }
  80% {
    transform: translate(-50%, 60px); }
  100% {
    transform: translate(-50%, 100px); } }
@keyframes kreptoniteanimate {
  0% {
    transform: translateY(-10px);
    filter: grayscale(100%); }
  50% {
    transform: translateY(-30px);
    filter: grayscale(90%); }
  100% {
    transform: translateY(-10px);
    filter: none; } }
header .overlay, .counter-up-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 1; }

header .center .down:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #41F20E;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
  animation: animate 1s linear infinite; }

.who-us .head .header, .counter-up-section .head .header, .services .head .header {
  color: #41F20E;
  font-weight: bold;
  font-size: 45px;
  margin-left: 10px; }

.who-us .head::after, .counter-up-section .head::after, .services .head::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 5px;
  background-color: #000;
  margin-left: 10px; }

.who-us .paragraphs span {
  margin-bottom: 10px;
  border: 1px solid #41F20E;
  font-size: 20px;
  letter-spacing: 5px;
  background-color: #41F20E;
  color: #000;
  padding: 10px;
  display: inline-block;
  margin-left: -15.5px !important; }

/*# sourceMappingURL=style.css.map */
