@import 'https://fonts.googleapis.com/css?family=Ubuntu&display=swap';
$mainColor : #33C10B;
$secondColor: #000;
$thirdColor: #fff;
$mainFont: 'Ubuntu';


body{
  font-family: $mainFont;
  .row{
    margin: 0;
  }
}

.sticky{
  position: sticky;
  top: 0;
  background-color: #191919;
  opacity: 0.9;
  height: 60px;
  padding: 0 !important;
  line-height: 60px;
}

// start navbar
.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: $thirdColor;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
  .links{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $secondColor;
    display: block;
    transition: 0.3s;  
    &:hover{
      color: $mainColor;
    }
  }
  .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

.sidenavbutton{
  padding-top: 23px;
  transition: all 1s ease;
  z-index: 4;
  span:first-of-type{
    font-size:25px;
    cursor:pointer;
    color: #fff;
  }
  span:last-of-type{
    font-size:25px;
    cursor:pointer;
    color: #fff;
    .nite{
      color: $mainColor;
    }
  }
}

// end navbar

// start videobacground
header {
  position: relative;
  top: -60px;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  z-index: -1;
  video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .container{
    position: relative;
    z-index: 1;
    p{
      font-size: 15px;
      letter-spacing: 3px;
    }
    .type-element{
      .type{
        color: $mainColor !important;
      }
    }
  }
  .overlay{
    @extend %overlay;
  }
  .center{
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    .down{
      width: 40px;
      height: 60px;
      border-radius: 25px;
      border: 2px solid $thirdColor;
      &:before{
        @extend %beforeAafter;
      }
      // &:after{
      //   @extend %beforeAafter;
      //   height: 15px !important;
      //   top: 5px !important;
      //   transform: translate(-50%, 0) !important;
      //   border-radius: 3px !important;
      // }
    }
  }
}

// end videobacground

// start what we do
.who-us{
  .head{
    margin-bottom: 30px;
    .header{
      @extend %headersections;
    }
    &::after{
      @extend %aftersectionheader;
    }
  }
  .header-des{
    font-size: 55px;
    margin-left: 10px;
  }
  .paragraphs{
    padding: 0rem 17px 17px 17px;
    span{
     @extend %headerOfSections;
    }
    p{
      font-size: 18px;
      color: #555;
    }
  }
  p{
    font-size: 18px;
    margin-bottom: 30px;
    .krep-sentece{
      color: $mainColor;
      font-size: 25px;
    }
  }
  .kreptonite-image{
    margin-top: 50px;
    img{
      width: 100%;
      border-radius: 10px; 
      clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 94%, 0 100%, 0% 60%, 0 0);
      animation: kreptoniteanimate 1s infinite;
    }
  }
}

// end what we do

// Counter up
.counter-up-section{
  position: relative;
  margin-top: 40px;
  background-image: url("../images/facts.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0px 80px 0px;
  .overlay{
    @extend %overlay;
  }
  .head{
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
    .header{
      @extend %headersections;
    }
    &::after{
      @extend %aftersectionheader;
      background-color: $thirdColor !important;
    }
  }
  .header-des{
    font-size: 55px;
    margin-left: 10px;
    color: $thirdColor !important;
  }
  .counter-up{
    position: relative;
    z-index: 1 !important;
    text-align: center;
    font-size: 45px;
    margin-top: 10px;
    color: $thirdColor;
    i{
      color: $mainColor;
    }
    h6{
      font-size: 40px;
      letter-spacing: 10px;
    }
  }
}


// start our servises
.services{
  padding: 60px 0px;
  .head{
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
    .header{
      @extend %headersections;
    }
    &::after{
      @extend %aftersectionheader;
    }
  }
  .header-des{
    font-size: 55px;
    margin-left: 10px;
  }
  .work{
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #DDD;
    // .overlay{
    //   @extend %overlay;
    //   border-radius: 8px;
    //   position: relative;
    //   transition: all 1s ease;
    // }
    img{
      width: 100%;
      height: 100%;
      border-radius: 8px !important;
      filter: grayscale(60%);
      transition: all .5s ease;
    }
    .header-services{
      position: absolute;
      z-index: 2;
      bottom: -30%;
      left: 5%;
      width: 90%;
      border: 1px solid $thirdColor;
      padding: 20px;
      border-radius: 5px;
      font-size: 18px;
      background-color: $thirdColor;
      font-weight: bold;
      transition: all .5s linear;
      a{
        text-decoration: none;
        color: $secondColor;
        &:hover{
          color: $mainColor !important;
        }
      }
    }
    // button{
    //   background-color: $thirdColor;
    //   border: 1px solid $thirdColor;
    //   color: $secondColor;
    //   font-weight: bold;
    //   padding: 10px;
    //   width: 120px;
    //   height: 70px;
    //   position: absolute;
    //   left: 95%;
    //   top: 35%;;
    //   transition: all 1s ease;
    //   transform: translateX(-40%, -30%);
    //   a{
    //     color: #000;
    //     text-decoration: none;
    //   }
    // }
    &:hover .header-services{
      bottom: 1%;
    }
    // &:hover button{
    //   left: 33%;
    //   z-index: 2;
    // }
    &:hover .overlay{
      opacity: 0 !important;
    }
    &:hover img{
      filter: none;
    }
  }
  .read-more{
    text-align: center;
    button{
      margin-top: 40px;
      background-color: $mainColor;
      border: 1px solid $mainColor;
      color: $thirdColor;
      font-weight: bold;
      padding: 10px;
      width: 50%;
      height: 70px;
    }
  }
}


// start our client
.our-clients{
  padding: 90px 0px;
  background-color: #DDD;
  .head{
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
    .header{
      @extend %headersections;
    }
    &::after{
      @extend %aftersectionheader;
    }
  }
  .header-des{
    font-size: 55px;
    margin-left: 10px;
  }
  .clinet{
    div{
      outline: 0 !important;
    }
    img{
      margin-bottom: 40px;
    }
  }
}

// stat footer
.footer{
  background-color: #191919;
  color: #fff;
  padding: 60px 0;
  .head{
    .header{
      font-size: 50px;
      color: $mainColor;
    }
  }
  i{
    color: $mainColor;
    font-size: 18px;
    margin-right: 10px;
  }
  span, a{
    display: inline-block;
    font-size: 20px;
    margin-top: 15px;
  }
  .follow{
    ul{
      li{
        float: left;
        width: 20%;
        i{
          color: $thirdColor !important;
          font-size: 30px;
        }
      }
    }
  }
}


// ========================================================about page ===============================================

.about-header{
  background-image: url("../images/about/about.jpg");
  background-size: cover;
  height: 60vh;
  background-position: center;
  .overlay{
    @extend %overlay;
    opacity: 0.6 !important;
  }
}

.about-kreptonite-img{
  position: relative;
  top: 75%;
  left: 50%;
  background-image: url("../images/who/who.png");
  background-size: cover;
  border: 4px solid $mainColor;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  transform: translate(-50%, -75%);
  animation: aboutImage 1s linear infinite;
}

.about{
  margin-top: -140px;
  .line{
    border-left: 2px solid #000;
    >div{
      margin-left: 10px;
      position: relative;
      span{
        color: $mainColor;
        font-size: 25px;
        padding-left: 10px;
        &::before{
          content: "\f058";
          font-family: "Font Awesome 5 Free";
          width: 40px;
          height: 40px;
          text-align: center;
          border-radius: 50%;
          color: $secondColor;
          background-color: $thirdColor;
          position: absolute;
          left: -4.5%;
        }
      }
    }
  }
  img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.kreptonite-video{
  position: relative;
  margin-top: 60px;
  margin-bottom: 70px;
  background-image: url("../images/about/video.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
  .overlay{
    @extend %overlay;
    opacity: 0.6 !important;
  }
  button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $mainColor;
    &:focus{
      outline: 0 !important;
    }
    i{
      font-size: 35px;
      color: #fff;
    }
  }
}




// start media query


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    a{
      font-size: 18px;
    }
  }
}


@media(max-width: 450px) {
  .about-header{
    h6{
      font-size: 57px !important;
    }
  }
  .about .line > div span::before{
    left: -10.5%;
  }
}

@media screen and (max-width: 800px){
  .counter-up-section{
    .counter-up{
      h6{
        font-size: 20px;
      }
    }
  }
}




// start animation

@keyframes animate{
  0%{
    transform: translate(-50%, 0);
  }
  80%{
    transform: translate(-50%, 60px);
  }
  100%{
    transform: translate(-50%, 100px);
  }
}

@keyframes kreptoniteanimate{
  0%{
    transform: translateY(-10px);
    filter: grayscale(100%);
  }
  50%{
    transform: translateY(-30px);
    filter: grayscale(90%);
  }
  100%{
    transform: translateY(-10px);
    filter: none;
  }
}

@keyframes aboutImage{
  0%{
    border: 4px solid $mainColor;
  }
  25%{
    border-top: 4px solid $thirdColor;
  }
  50%{
    border-right: 4px solid $thirdColor;
  }
  75%{
    border-bottom: 4px solid $thirdColor;
  }
  100%{
    border-left: 4px solid $thirdColor;
  }
}

// start extends

%overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
}

%beforeAafter{
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $mainColor;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
  animation: animate 1s linear infinite;
}

%headersections{
  color: $mainColor;
  font-weight: bold;
  font-size: 45px;
  margin-left: 10px;
}

%aftersectionheader{
  content: "";
  position: absolute;
  width: 120px;
  height: 5px;
  background-color: #000;
  margin-left: 10px;
}

%headerOfSections{
  margin-bottom: 10px;
  border: 1px solid $mainColor;
  font-size: 20px;
  letter-spacing: 5px;
  background-color: $mainColor;
  color: $secondColor;
  padding: 10px;
  display: inline-block;
  margin-left: -15.5px !important;
}